body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url("/img/background.jpeg"); */
    /* background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

.body-content{
    background-color: white;
    
}

.page-header{
   padding-left: 100px;
   background-color: #333333;
}

.page-header__img{
    
    width: 75px;
    height: 75px;
    padding: 10px;
}

.page-header__text{
    align-content: center;
    color: #b3a191;
}
/*start*/


/* CSS Document */


h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
    color: #f33838;
}

a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	line-height: 70px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #254441;
}



/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: left;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #254441;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:rgb(240, 237, 237);
    background-color: red;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #333333; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
    display: inline-flex;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

.nav-item>a:hover {
    color: red;
}

/*code to change background color*/
.navbar-nav>.active>a {
    background-color: #C0C0C0;
    color: red;
}

/* --------------- Carousel ------------------ */

main{
    width:100%;
    max-height: 200px !important;
    background: transparent;
}

.carousel-inner{
    min-height : 100px;
    width : auto;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-: 959px) {
    .carousel-inner{
        
        min-width: 100%;
        height: auto;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

/* ------------------------------------------- */

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

/*start slideshow*/



/*end of slideshow*/


@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #333333;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #333333; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

.navbar-nav > li > .dropdown-menu { background-color: #FF0000; }


/*end*/





.contactus {
  background-color : #f52323;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #f11818;
    text-decoration: none;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}



nav{
    padding: 2px;
    background-color: #232323;

}

.nav__link-container{
    float: right;
    margin-right: 100px;
    margin-left: 100px;
}

.nav__link{
    margin-left: 4px;
    margin-right: 4px;
    color: #fa9213;
    text-decoration: double;
    font-size: 0.8rem;
}

.nav__link:hover{
    color: #b3a191;
    
}

/*  Navbar */
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */



.img{
    height: 60vh;
    width: 100%;
    background-position: center top;
  background-repeat: no-repeat;
  object-fit: cover;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.section__header{
    text-align: center;
    margin-bottom: 25px;
    color: #333333;
    font-size: 4vh;
}

#about_us{
    background-color: #bbf1fa;
}

#mission{
    background-color: #f4f5db;
}

#vision{
    background-color: #94ebcd;
}

.section__text{
    color: #232323;
    font-size: 3vh;
}

.section__ul{
    width: fit-content;
    background-color: #f4f5db;
}

.section__ul__li{
    font-size: 2.5vh;
    color: #333333;
    
}

.card-header{
    font-size: 2.5vh;
    color: #333333;
    
}

.col-6{
    padding-left: 0px;
    padding-right: 0px;
}

.footer{
    height: 50px;
    background-color: #333333;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.footer-item-1{
    color: #b3a191;
    font-size: x-small;
    
}

.footer-item-2{
    color: #b3a191;
    font-size: x-small;
    padding-top: 5px;
    float: right;
}


@media only screen and (max-width: 600px) {
    .img{
        height: 30vh;
        width: 100%;
        background-position: center top;
      background-repeat: no-repeat;
      object-fit: cover;
        background-color: lightblue;
    }

    .page-header{
        padding-left: 10px;
        background-color: #333333;
     }

     .nav__link{
        margin-left: 4px;
        margin-right: 4px;
        color: #fa9213;
        text-decoration: double;
        font-size: 0.6rem;
    }
    
    .nav__link-container{
        float: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .section{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .section__header{
        text-align: center;
        margin-bottom: 15px;
        color: #333333;
        font-size: 3vh;
    }

    .section__ul__li{
        font-size: 1.5vh;
        color: #333333;
        
    }

    .card-header{
        font-size: 1.5vh;
        color: #333333;
        
    }

    .section__text{
        color: #232323;
        font-size: 1.5vh;
    }

    .footer{
        height: 80px;
        background-color: #333333;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
    
    .footer-item-1{
        color: #b3a191;
        font-size: 10px;
        
    }
    
    .footer-item-2{
        color: #b3a191;
        font-size: 10px;
        padding-top: 5px;
        float: right;
    }

  }
/*testimonial starting*/
 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     position: relative;
     display: flex;
     width: 400px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
     -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
     box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
 }

 .card .card-body {
     padding: 1rem 1rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }

 p {
     font-size: 0.875rem;
     margin-bottom: .5rem;
     line-height: 1.5rem
 }

 h4 {
     line-height: .2 !important
 }

 .profile {
     margin-top: 16px;
     margin-left: 11px
 }

 .profile-pic {
     width: 58px
 }

 .cust-name {
     font-size: 18px
 }


 .items {
     width: 90%;
     margin: 0px auto;
    
     
     margin-top: 100px
         
     
 }

 .slick-slide {
     margin: 10px;
 }
.image{
    border-radius: 50%;
}
.profile{
    margin:auto;
    padding-top: 10%;
    float:right;
}

/*ending of testimonial*/

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}





